<div class="px-4 py-3 text-center">
    <h1 class="display-5 fw-bold">OFFRE</h1>
</div>

<div *ngIf="offer" class="row col-6 card shadow mx-auto my-5 py-2">

    <img [src]="offer.imgUrl">

    <div class="card-body">
        <h2 class="card-title text-center">Voyage en {{offer.name}}</h2>
        <p class="card-text">{{ offer.description }}</p>
        <p class="card-text">
            <small class="text-muted">
                Offre disponible du {{offer.dateBegin | date:"dd/MM/yyyy"}} au {{offer.dateEnd | date:"dd/MM/yyyy"}}
            </small>
        </p>
    </div>
    <div class="card-footer text-muted border-0 bg-white text-end" >
        Fait le {{offer.createdAt | date:"dd/MM/yyyy"}}
    </div>

    <hr>

    <div class="d-flex justify-content-end">
        <a [routerLink]="['/offers',offer.id,'edit']" class="btn btn-warning mx-1">MODIFIER</a>
        <button class="btn btn-danger mx-1"
            (click)="onClickDeleteBtn()">
            SUPPRIMER
        </button>
        <a routerLink="/offers" class="btn btn-outline-dark mx-1">RETOUR</a>
    </div>

</div>
