<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">TRAVEL OFFERS</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Travel offers est la seule agence de voyage vous accompagnant dans vos démarches
            d'évasion durant la pandémie COVID.</p>
    </div>
</div>

<div class="row-">

    <div class="col-10 mx-auto">

        <div class="d-flex justify-content-between mb-3">
            <h2>NOS OFFRES</h2>
            <button class="btn btn-success btn-lg"
            routerLink="/offers/add" routerLinkActive="active"
            >NOUVELLE OFFRE</button>
        </div>

        <ng-container *ngIf="offers.length > 0">
            <div *ngFor="let offer of offers"
                 [routerLink]="['/offers',offer.id]" routerLinkActive="router-link-active"
                 class="card mb-3 h-100">
                <div class="row g-0">
                    <div class="col-md-4 mx-auto">
                        <img [src]="offer.imgUrl" style="width: 400px">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">{{offer.name}}</h5>
                            <p class="card-text">{{offer.description}}</p>
                            <p class="card-text">
                                <small class="text-muted">
                                    Offre disponible du {{offer.dateBegin | date }} au {{offer.dateEnd | date }}
                                </small>
                            </p>
                        </div>
                        <div class="card-footer text-muted border-0 bg-white text-end">
                            Fait le {{offer.createdAt | date }}
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>

</div>
